<div id="menu">
<ul>
    <li><a href="../mng/dispdeceasedlist">&gt;故人様一覧</a></li>
    <li>通知
        <ul>
            <li><a href="../mng/dispnoticeinfolist">&gt;通知情報一覧</a></li>
            <li><a href="../mng/dispentrynoticeinfosevendayafterdeath">&gt;初七日通知登録</a></li>
            <li><a href="../mng/dispentrynoticeinfofourteendaysafterdeath">&gt;十四日後通知登録</a></li>
            <li><a href="../mng/dispentrynoticeinfotwentyonedaysafterdeath">&gt;二十一日後通知登録</a></li>
            <li><a href="../mng/dispentrynoticeinfotwentyeightdaysafterdeath">&gt;二十八日後通知登録</a></li>
            <li><a href="../mng/dispentrynoticeinfothirtyfivedaysafterdeath">&gt;三十五日後通知登録</a></li>
            <li><a href="../mng/dispentrynoticeinfofortytwodaysafterdeath">&gt;四十二日後通知登録</a></li>
            <li><a href="../mng/dispentrynoticeinfofortyninedaysafterdeath">&gt;四十九日後通知登録</a></li>
        </ul>
    </li>
    <li>設定
        <ul>
            <li><a href="../mng/dispchargelist">&gt;担当者様</a></li>
            <li><a href="../mng/disppasswordchange">&gt;ﾛｸﾞｲﾝﾊﾟｽﾜｰﾄﾞ</a></li>
        </ul>
    </li>
    <li><a href="../mng/logout">&gt;&gt;ログアウト</a></li>
</ul>
</div>
<div class="clear"></div>