<div id="menu">
<ul>
    <li><a href="../mng/dispdeceasedlist">&gt;故人様一覧</a></li>
    <li>通知
        <ul>
            <li><a href="../mng/dispnoticeinfolist">&gt;通知情報一覧</a></li>
            <li><a href="../mng/dispentrynoticeinfodayafterdeath?ntype=7">&gt;初七日通知登録</a></li>
            <li><a href="../mng/dispentrynoticeinfodayafterdeath?ntype=14">&gt;二七日通知登録</a></li>
            <li><a href="../mng/dispentrynoticeinfodayafterdeath?ntype=21">&gt;三七日通知登録</a></li>
            <li><a href="../mng/dispentrynoticeinfodayafterdeath?ntype=28">&gt;四七日通知登録</a></li>
            <li><a href="../mng/dispentrynoticeinfodayafterdeath?ntype=35">&gt;五七日通知登録</a></li>
            <li><a href="../mng/dispentrynoticeinfodayafterdeath?ntype=42">&gt;六七日通知登録</a></li>
            <li><a href="../mng/dispentrynoticeinfodayafterdeath?ntype=49">&gt;四十九日通知登録</a></li>
        </ul>
    </li>
    <li>設定
        <ul>
            <li><a href="../mng/dispchargelist">&gt;担当者様</a></li>
            <li><a href="../mng/disppasswordchange">&gt;ﾛｸﾞｲﾝﾊﾟｽﾜｰﾄﾞ</a></li>
        </ul>
    </li>
    <li><a href="../mng/logout">&gt;&gt;ログアウト</a></li>
</ul>
</div>
<div class="clear"></div>
